.custom-navbar {
  background-color: #e5f3fa;
  padding: 0.5rem 1rem;
}

.navbar-logo {
  height: 40px;
  margin-right: 10px;
}

.brand-text {
  font-size: 1.25rem;
  font-weight: 500;
  color: #000000;
}

.nav-link-light {
  font-weight: 300;
  color: #000000 !important;
}

.nav-link-light:hover {
  color: #5f61f0 !important;
}

.navbar-text {
  color: #000000;
}

@media (min-width: 768px) {
  .custom-navbar {
    justify-content: space-between;
  }
}
