.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #293241;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #e0fbfc;
}

.App-link {
  color: #98c1d9;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.memo {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 12px;
  background: linear-gradient(to bottom right, #f6f6f6, #e0e0e0);
}

.memo p {
  margin: 8px 0;
  font-size: 16px;
}

.memo p:first-child {
  font-weight: bold;
}

.memo p:nth-child(3) {
  font-style: italic;
}
