.footer {
  background-color: #2e4493;
  color: #e5f3fa;
  font-size: 0.875rem;
  margin-top: 4rem;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.footer-heading {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.footer-list {
  margin-bottom: 1.5rem;
}

.footer-list a {
  display: block;
  margin-bottom: 0.5rem;
  color: #e5f3fa;
  text-decoration: none;
}

.footer-list a:hover {
  color: #ffffff;
}

.about-us p {
  margin-bottom: 1rem;
}

.social-links {
  display: flex;
  gap: 0.5rem; /* Space between icons */
}

.social-links a {
  color: #e5e7eb; /* text-slate-200 */
}

.social-links a:hover {
  color: #ffffff; /* Hover color */
}
