/* BMICalculator.css */
.bmi-header {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: 500;
}

.form-group {
  margin-bottom: 20px;
}

.is-invalid {
  border: 1px solid #ee6c4d;
}

button {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}
