/* General styles */
body {
  font-family: Arial, sans-serif;
}

/* Login container */
.login-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Adjust as needed */
  height: 100vh;
  background-color: #f0f0f0;
  padding: 20px; /* Add padding to create space around the elements */
}

/* Lottie containers */
.lottie-container {
  flex: 1;
  /* Adjust width and height as needed */
  width: 300px;
  height: 300px;
}

/* Login card container */
.login-card-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

/* ... rest of your CSS */
.login-card {
  width: 300px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Login card header */
.login-card h3 {
  text-align: center;
  margin-bottom: 20px;
}

/* Form group */
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Button container */
.button-container {
  display: flex;
  justify-content: center;
}

.login-button,
.reset-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.login-button:hover,
.reset-button:hover {
  background-color: #0069d9;
}

.reset-button {
  margin-left: 10px;
}
