/* General styles */
body {
  font-family: Arial, sans-serif;
}

/* Login container */
.login-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Adjust as needed */
  height: 100vh;

  padding: 20px; /* Add padding to create space around the elements */
}

/* Lottie containers */
.lottie-container {
  flex: 1;
  /* Adjust width and height as needed */
  width: 300px;
  height: 300px;
}

/* Login card container */
.login-card-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

/* ... rest of your CSS */
/* Login Card */
.login-card {
  width: 300px;
  padding: 20px;
  background: linear-gradient(
    135deg,
    #d0eaff,
    /* Lightest blue */ #a1c4fd,
    /* Light blue */ #70a1ff /* Sky blue */
  ); /* Light bluish gradient */
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Softer shadow */
  color: #333; /* Darker text for contrast */
}

/* Login Card Header */
.login-card h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #2c3e50; /* Darker blue for the header text */
}

/* Form Group */
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #5a7d9a; /* Soft blue-grey text color */
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #70a1ff; /* Sky blue border */
  border-radius: 3px;
  background-color: #eef6fc; /* Very light blue background */
  color: #2c3e50; /* Darker blue text color */
}

/* Button Container */
.button-container {
  display: flex;
  justify-content: center;
}

.login-button,
.reset-button {
  padding: 10px 20px;
  background: linear-gradient(
    135deg,
    #a1c4fd,
    #70a1ff
  ); /* Light bluish gradient */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-button:hover,
.reset-button:hover {
  background: linear-gradient(
    135deg,
    #7fb3ff,
    #a1c4fd
  ); /* Slightly darker blue on hover */
}

.reset-button {
  margin-left: 10px;
}
