/* Login container */
.login-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Adjust as needed */
  height: 100vh;

  padding: 20px; /* Add padding to create space around the elements */
}

/* Lottie containers */
.lottie-container {
  flex: 1;
  /* Adjust width and height as needed */
  width: 300px;
  height: 300px;
}

/* Login card container */
.login-card-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

/* ... rest of your CSS */
/* Login Card */
.login-card {
  width: 300px;
  padding: 20px;
  background: linear-gradient(135deg, #e0fbfc, #98c1d9, #3d5a80);
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Softer shadow */
  color: #293241; /* Darker text for contrast */
}

/* Login Card Header */
.login-card h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #293241;
}

/* Form Group */
.login-form-group {
  margin-bottom: 15px;
}

.login-form-group label {
  display: block;
  margin-bottom: 5px;
  color: #293241; /* Soft blue-grey text color */
}

.login-form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #98c1d9; /* Sky blue border */
  border-radius: 3px;
  background-color: #e0fbfc; /* Very light blue background */
  color: #3d5a80; /* Darker blue text color */
}

/* Button Container */
.login-button-container {
  display: flex;
  justify-content: center;
}

.login-button {
  color: #293241;
}

.login-button,
.login-reset-button {
  padding: 10px 20px;
  background: linear-gradient(
    135deg,
    #e0fbfc,
    #98c1d9
  ); /* Light bluish gradient */
  color: #293241;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-button:hover,
.login-reset-button:hover {
  background: linear-gradient(
    135deg,
    #98c1d9,
    #e0fbfc
  ); /* Slightly darker blue on hover */
}

.login-reset-button {
  margin-left: 10px;
}

.forgot-password-link {
  margin-bottom: 10px;
  color: #e0fbfc;
}

.forgot-password-link:hover {
  text-decoration: underline;
}
