.slick-dots {
  position: absolute;
  bottom: -50px !important;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-prev:before,
.slick-next:before {
  padding-top: 3px;
  padding-right: 1px;
  padding-left: 1px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}

.flip-card-container {
  perspective: 1000px;
  margin: 0 auto;
  height: 500px;
  z-index: 2; /* Ensure flip cards are above the background */
}

.flip-card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s !important;
  transform-style: preserve-3d;
  cursor: pointer;
  z-index: 2; /* Ensure flip cards are above the background */
}

.flip-card:hover {
  transform: rotateY(180deg);
  transition: transform .1s !important;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flip-card-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
}

.overlay {
  background-color: rgba(0, 0, 0, 0.3);
}
