.medicationButton {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  background-color: lightgray;
  cursor: pointer;
}

.active-tab {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

.floatingButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.floatingButton:hover {
  background-color: #0056b3;
}

.reminder-video-container {
  position: relative;
  width: 100%;
  height: 600px; /* Set desired height */
  overflow: hidden;
}

.reminder-video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures video covers the container */
  object-position: top; /* Aligns the video to start from the top */
}
