/* Ecommerce Dashboard Page Css */

.ecom-home {
  font-family: Arial, sans-serif;
}

.cb-header-banner {
  position: relative;
  color: #ffffff;
}

.cb-header-image-container {
  width: 100%;
  overflow: hidden;
}

.cb-header-image {
  width: 100%;
  height: auto;
}

.cb-overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.cb-phegon-color {
  color: #3d5a80;
}

.text-center {
  text-align: center;
}

.ecom-filter-section {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  background-color: #98c1d9;
  padding: 20px;
  border-radius: 8px;
}

.ecom-filter-section label {
  margin-right: 10px;
  font-weight: bold;
  color: #293241;
}

select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #3d5a80;
  background-color: #e0fbfc;
  color: #293241;
}

.ecom-product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
