/* Hero section styling */
.hero {
  background-color: #e0fbfc;
  padding: 50px 0;
}

/* Container */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Hero content styling */
.hero-content {
  max-width: 500px;
}

.hero-subtitle {
  color: #ee6c4d;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.hero-title {
  color: #293241;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.hero-title .span {
  color: #3d5a80;
}

.hero-text {
  color: #98c1d9;
  font-size: 1rem;
  margin-bottom: 20px;
}

/* Button styling */
.btn-primary {
  background-color: #3d5a80;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.btn-primary:hover {
  background-color: #293241;
}

.btn-primary .span {
  margin-right: 10px;
}

.btn-primary ion-icon {
  font-size: 1.2rem;
}

/* Hero banner styling */
.hero-banner {
  max-width: 600px;
}

.hero-banner img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
