.custom-product-result {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px;
}

.custom-product-card {
  /* flex-grow: 1; */
  flex-shrink: 1;
  flex-basis: calc(25% - 32px);
  box-sizing: border-box;
}
