/*Product Result Page CSS */

.custom-product-result {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 cards per row */
  gap: 20px; /* Spacing between cards */
  padding: 20px;
}

@media (max-width: 1200px) {
  .custom-product-result {
    grid-template-columns: repeat(
      3,
      1fr
    ); /* 3 cards per row for medium screens */
  }
}

@media (max-width: 768px) {
  .custom-product-result {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* 2 cards per row for small screens */
  }
}

@media (max-width: 480px) {
  .custom-product-result {
    grid-template-columns: 1fr; /* 1 card per row for mobile */
  }
}
