* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.video-container {
  width: 100%;
  height: 80vh; /* Adjust the height as needed */
  position: relative;
  border-bottom-left-radius: 50% 10%;
  border-bottom-right-radius: 50% 10%;
  overflow: hidden;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-container {
  padding: 20px;
  text-align: center;
}

