.mental-health-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.lottie-container {
  width: 20%;
}

/* Main content container */
.mental-health-container {
  padding-top: 100px;
  flex: 1 1 60%; /* Takes up 60% of the container width */
  padding: 40px; /* Increased padding */
  background: linear-gradient(135deg, #e0f7fa, #b3e5fc);
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); /* Subtle shadow */

  width: 40%; /* Adjusted width to 40% */
}
.issues-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.issue-button {
  background-color: #f1f1f1;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.issue-button:hover {
  background-color: #e0e0e0;
}

.issue-button.selected {
  background-color: #007bff;
  color: white;
}

.issue-button.selected:hover {
  background-color: #0056b3;
}

.custom-issue {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.custom-issue input {
  flex-grow: 1;
  margin-right: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.custom-issue input:focus {
  outline: none;
  border-color: #007bff;
}

.generate-button {
  margin-top: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.generate-button:hover {
  background-color: #0056b3;
}

.recommendation {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #f1f1f1;
  border-radius: 4px;
}
