.ml-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #293241;
  padding: 20px;
}

.ml-video-container video {
  width: 100%;
  height: auto;
}

.ml-button-container {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.ml-button-container button {
  background-color: #3d5a80;
  color: #e0fbfc;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.ml-button-container button:hover {
  background-color: #ee6c4d;
}

.ml-model-container {
  background-color: #98c1d9;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
}

.ml-button {
  border-radius: 20px; /* Adjust the value for more or less rounding */
  padding: 10px 20px; /* Adjust for desired button size */
  color: white; /* Text color */
  border: none; /* Remove border */
  cursor: pointer;
}
