.ml-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #293241;
  padding: 20px;
}

.ml-video-container video {
  width: 100%;
  height: auto;
}

.ml-button-container {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.ml-button-container button {
  background-color: #3d5a80;
  color: #e0fbfc;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.ml-button-container button:hover {
  background-color: #ee6c4d;
}

.ml-model-container {
  background-color: #98c1d9;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
}

.ml-button {
  border-radius: 20px; /* Adjust the value for more or less rounding */
  padding: 10px 20px; /* Adjust for desired button size */
  color: white; /* Text color */
  border: none; /* Remove border */
  cursor: pointer;
}

.prediction-result {
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9; /* Light background */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
  transition: all 0.3s ease; /* Smooth transition */
}

.prediction-result:hover {
  transform: translateY(-2px); /* Slight lift effect on hover */
}

.prediction-text {
  font-size: 1.5em; /* Larger font size */
  color: #333; /* Darker color for better readability */
  font-weight: bold; /* Bold text */
}
