.pet-healthcare-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  min-height: 100vh;
}

.pet-left-column,
.pet-right-column {
  width: 20%;
  padding: 10px;
  display: flex;
  justify-content: center; /* Center Lottie horizontally */
  align-items: center; /* Center Lottie vertically */
}

.pet-middle-column {
  width: 60%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pet-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.8rem;
  color: #293241;
}

.pet-prompt-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.pet-input-field {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #e0fbfc;
  border-radius: 5px;
  width: 100%;
}

.pet-button-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.pet-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.pet-submit-button {
  padding: 10px 20px;
  background-color: #3d5a80;
  color: #e0fbfc;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  flex: 1;
}

.pet-submit-button:hover {
  background-color: #98c1d9;
}

.pet-loading {
  text-align: center;
  font-size: 1.2rem;
}

.pet-error {
  color: #ee6c4d;
  margin-top: 10px;
}

.pet-suggestions-container,
.pet-analysis-container,
.pet-recommendations-container {
  margin-top: 20px;
}

.pet-generated-image {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

.pet-image-container {
  text-align: center;
}
