.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #293241;

  padding: 20px;
}

.video-container video {
  width: 100%;
  height: auto;
}

.pres-content-container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1200px; /* Adjust to control maximum width of the layout */
  min-height: 80vh; /* Ensure the container covers at least 80% of the viewport height */
}

.pres-left-side,
.pres-right-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.pres-middle-side {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
}

.pres-image-analyzer-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  font-family: "Arial", sans-serif;
  color: #3d5a80;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pres-heading {
  text-align: center;
  color: #293241;
  font-size: 2.5em;
  margin-bottom: 30px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.pres-button-group {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.pres-button-group-top {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* Button group below preview */
.pres-button-group-bottom {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pres-file-input {
  display: none;
}

.pres-btn {
  padding: 12px 24px;
  background-color: #3d5a80;
  color: #e0fbfc;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 10px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.pres-btn:hover {
  background-color: #98c1d9;
  transform: translateY(-2px);
}

.pres-btn:disabled {
  background-color: #293241;
  cursor: not-allowed;
}

.pres-card {
  background-color: #e0fbfc;
  border-radius: 15px;
  padding: 25px;
  margin-bottom: 30px;
  width: 100%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.pres-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.15);
}

.pres-card h2 {
  color: #3d5a80;
  margin-top: 0;
  font-size: 1.5em;
  border-bottom: 2px solid #e0fbfc;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.pres-card p {
  color: #293241;
  line-height: 1.6;
}

.pres-image-preview {
  margin: 20px;
  /* margin-left: 160px; */
  text-align: center;
  justify-content: center; /* Centers the image horizontally */
  align-items: center; /* Optional, centers vertically if needed */
}

.pres-image-preview img {
  width: 300px;
  height: 400px;
  object-fit: cover;
  border: 2px solid #00bfff;
  border-radius: 10px;
}
