.quiz-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  color: #293241;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #e5fbfc;
  border-radius: 4px;
}

.start-button,
.next-button,
.restart-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #98c1d9;
  color: #e5fbfc;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.start-button:hover,
.next-button:hover,
.restart-button:hover {
  background-color: #98c1d9;
}

.question-container {
  margin-top: 20px;
}

.question {
  font-size: 18px;
  margin-bottom: 15px;
}

.options-list {
  list-style-type: none;
  padding: 0;
}

.option {
  background-color: #e0fbfc;
  border: 1px solid #ee6c4d;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.option.correct {
  background-color: #28a745; /* Green for correct answers */
  color: #e0fbfc;
}

.option.incorrect {
  background-color: #ee6c4d; /* Red for incorrect answers */
  color: #e0fbfc;
}

.option:hover {
  background-color: #98c1d9;
}

.option.selected {
  background-color: #3d5a80;
  color: #e0fbfc;
}

.results {
  text-align: center;
  margin-top: 20px;
}

.loading,
.error {
  text-align: center;
  color: #e8e8e8;
  background-color: #98c1d9;
  border: 1px solid #3d5a80;
  border-radius: 4px;
  padding: 10px;
  margin-top: 20px;
}

.next-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.quiz-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.lottie-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 20%;
}

.quiz-container {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 60%;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

@media (max-width: 768px) {
  .lower-section-content {
    flex-direction: column;
    height: auto;
  }

  .lottie-container,
  .quiz-container {
    max-width: 100%;
    margin-bottom: 20px;
  }
}
